DB_HOST=10.0.3.119
DB_USERNAME=admin
DB_PASSWORD=admin#4399
DB_NAME=kuromi
SMTP_HOST=smtp.qq.com
SMTP_USER=pincman@qq.com
SMTP_PASSWORD=xxx
SMTP_SSL=true
SMTP_FROM=pincman<pincman@qq.com>
SUPER_ADMIN_USERNAME=admin
SUPER_ADMIN_PASSWORD=123456aA$
APP_URL=kuromi.3rcd.com
SMS_QCLOUD_ID=xxx
SMS_QCLOUD_KEY=xxx
SMS_LOGIN_CAPTCHA_QCLOUD=xxx
SMS_REGISTER_CAPTCHA_QCLOUD=xxx
SMS_RETRIEVEPASSWORD_CAPTCHA_QCLOUD=xxx
SMS_ACCOUNTBOUND_CAPTCHA_QCLOUD=xxx